<div class="votes">
    <div class="four wide column centre aligned vote">
        <div class="ui statistic">
            <div class="value">
                {{article.votes}}
            </div>
            <div class="label">
                Points
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <a href="{{article.link}}" class="ui large header">{{article.title}}</a>
        <div class="meta"> ({{article.domain()}}) </div>
        <ul class="ui big horizontal list">
            <li class="item">
                <a href (click)="voteUp()">
                    <i class="arrow up icon"></i>
                    Upvote
                </a>
            </li>
            <li class="item">
                <a href (click)="voteDown()">
                    <i class="arrow down icon"></i>
                    downvote 
                </a>
            </li>
        </ul>
    </div>
</div>
