<header>
  Social Hub
</header>
<br>
<div class="ui horizontal divider">Overview</div>
<div class="m-auto d-flex overview">
  <p>Add links to popular articles so that people can find them faster</p>
</div>
<div class="m-auto d-flex overview">
  <p>We will sort the articles according to the number of votes</p>
</div>
<form class="ui large form segment m-auto">
  <h1 class="ui header">Add a Link</h1>
  <div class="info field">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" #newTitle>
  </div>
  <div class=" info field">
    <label for="link">Link</label>
    <input type="text" name="link" id="link" #newLink>
  </div>
  <div>
    <button class="ui positive  button m-auto d-flex" (click)="addArticle(newTitle,newLink)">Submit link</button>
  </div>
</form>
<div class="ui horizontal divider">Posts</div>
<div class="ui grid posts" *ngFor="let article of sortedArticle()">
  <app-article  [article]="article"></app-article>
</div>
